body {
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    background-color: purple;
    color: white;
}

h1 {
    text-align:center; 
    color: whitesmoke;
}

p {
    float: right;
    font-size: 30px;
}

button{
    padding: 0px 5px 2px 5px;
    margin: auto;

}