{% comment %} {% extends 'base.html' %}

{% block title %}home{% endblock title %}

{% block body %} {% endcomment %}
{% comment %} Header Slide {% endcomment %}
{% comment %} Welcome {{request.user}}
This is index

<a href="logout">Logout</a>

{% endblock body %}  {% endcomment %}


{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <title>Home</title>
</head>
<body>
    Welcome {{request.user}}
    <h1>This is a Index page</h1>
    <button type="button"><a href="logout">Logout</a></button>
</body>
</html>